.initially-hidden {
  display: none;
  justify-content: center;
}
.clickable {
  cursor: pointer;
  color: #00cc4e;
}
.clickable:hover {
  text-decoration: underline;
}
.row {
  text-align: center;
  padding-left: 5%;
}
.unstyled {
  list-style-type: none;
}